@charset "UTF-8";
/*VA AL INICIO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html body .contenedorPrincipal {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  grid-template-rows: repeat(7, 0.1fr);
  grid-template-areas: "perfil perfil perfil perfil " "header header header header" "carousel carousel carousel carousel" "productos productos productos productos" "otros otros otros otros" "redes redes redes redes" "pie pie pie pie";
  justify-content: center;
  background-color: white;
}
html body .contenedorGaleria {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "imagen1 imagen1 imagen7 imagen7 imagen2" "imagen3 imagen3 imagen6 imagen5 imagen5" "imagen3 imagen3 imagen6 imagen4 imagen4";
  justify-content: center;
  gap: 10px 10px;
  width: 100%;
  border-color: red;
}
html body .imagen1 {
  grid-area: imagen1;
  background-image: url("../assets/img/clienteSatisfecho01.jfif");
  background-size: cover;
  border-radius: 15px;
}
html body .imagen2 {
  grid-area: imagen2;
  background-image: url("../assets/img/clienteSatisfecho02.jfif");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
html body .imagen3 {
  grid-area: imagen3;
  background-image: url("../assets/img/clienteSatisfecho03.jfif");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
html body .imagen4 {
  grid-area: imagen4;
  background-image: url("../assets/img/clienteSatisfecho04.jfif");
  background-size: cover;
  border-radius: 15px;
}
html body .imagen5 {
  grid-area: imagen5;
  background-image: url("../assets/img/clienteSatisfecho05.jfif");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
html body .imagen6 {
  grid-area: imagen6;
  background-image: url("../assets/img/clienteSatisfecho06.jfif");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
html body .imagen7 {
  grid-area: imagen7;
  background-image: url("../assets/img/clienteSatisfecho07.jfif");
  background-size: cover;
  border-radius: 15px;
}

.tituloPrincipal {
  color: palevioletred;
  font-weight: bold;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  padding: 1% 1%;
}

.galeriaTitulo {
  display: flex;
  justify-content: center;
  color: palevioletred;
  font-weight: bold;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  padding: 1% 1%;
}

.linkPreguntas {
  color: pink;
}

.perfil {
  grid-area: perfil;
  background-color: white;
}
.perfil .ancho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.perfil .ancho .imagenTitutlo .sizeLogo {
  width: 170px;
  height: 90px;
}
.perfil .ancho .registrarse .iconoInicioSesion {
  width: 28px;
  height: 28px;
}
.perfil .ancho .registrarse a {
  text-decoration: none;
}

.header {
  grid-area: header;
}
.header .menu {
  background: linear-gradient(0deg, rgb(195, 34, 51) 0%, rgba(247, 64, 228, 0.673) 100%);
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  /* focus para el texto */
}
.header .menu li a {
  text-decoration: none;
  color: gold;
}
.header .menu li a:hover {
  color: white;
}
.header .menu input:focus {
  height: 30px;
  background-color: white;
}
.header .menu input[type=checkbox]:checked {
  box-shadow: 0 0 0 3px white;
}

/* } */
.contenedorCarousel {
  grid-area: carousel;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.contenedorCarousel .tituloCarousel {
  text-align: center;
  color: brown;
  margin-top: 3%;
  font-family: "gnuolane_rg-webfont";
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(108%);
}

.productos {
  grid-area: productos;
}
.productos .tituloPrincipal1 {
  color: palevioletred;
  font-weight: bold;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  padding: 5% 1% 1% 1%;
}
.productos .tituloPrincipal2 {
  color: palevioletred;
  font-weight: bold;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  padding: 4% 1% 1% 1%;
}
.productos .princContenedorFlores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.productos .princContenedorPeluches {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.productos .spaceImgPrincipal {
  padding: 0 1px;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  color: brown;
  font-size: 15px;
}
.productos .spaceImgPrincipal .sizePrincImage {
  width: 300px;
  height: 260px;
  padding: 0% 1% 0% 1%;
  transition: all 1s;
}
.productos .spaceImgPrincipal .sizePrincImage:hover {
  transform: scale(1.1, 1.1);
}
.productos .spaceImgPrincipal .subtitProdNombre {
  margin-top: 3%;
  text-align: center;
  color: yellowgreen;
  font-weight: bold;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
}
.productos .spaceImgPrincipal .subtitProdPrecio {
  text-align: center;
  color: rgb(78, 107, 16);
  font-weight: bold;
  font-size: 17px;
}
.productos .spaceImgPrincipal .prinBtnCarForm {
  text-align: center;
}
.productos .spaceImgPrincipal .prinBtnCarForm .prinBtnCar {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  /*   background-color: rgb(248, 88, 88); */
  background: linear-gradient(0deg, rgb(195, 34, 51) 0%, rgba(247, 64, 228, 0.673) 100%);
}

.redes {
  grid-area: redes;
  background-color: rgb(247, 200, 207);
  background-image: url(../assets/img/fondoRedes.jfif);
  margin-top: 5%;
}
.redes .contenedorRedes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.redes .contenedorRedes .redesContGeneral {
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  color: brown;
  font-size: 15px;
}
.redes .contenedorRedes .redesContGeneral li {
  list-style: none;
}
.redes .contenedorRedes .redesContGeneral li a {
  text-decoration: none;
}
.redes .contenedorRedes .redesContGeneral .colorLink {
  color: black;
}
.redes .contenedorRedes .redesContGeneral .colorLink:hover {
  color: blueviolet;
  font-weight: bold;
}
.redes .contenedorRedes .arriba a {
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  list-style: none;
  text-decoration: none;
  color: brown;
}
.redes .contenedorRedes .redesSociales .redesComentario {
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
}
.redes .contenedorRedes .redesSociales .redesSizeIcon {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-style: groove;
}

footer {
  grid-area: pie;
  background-color: rgb(230, 237, 245);
  background-image: url(../assets/img/fondoFooter.jfif);
}
footer .contenedorFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  color: brown;
  font-size: 15px;
}
footer .contenedorFooter .footerGeneral li {
  list-style: none;
}
footer .contenedorFooter .footerGeneral li a {
  text-decoration: none;
}
footer .contenedorFooter .footerGeneral .colorLink {
  color: black;
}
footer .contenedorFooter .footerGeneral .colorLink:hover {
  color: blueviolet;
  font-weight: bold;
}
footer .contenedorFooter .footerGeneral .titleFooter {
  font-size: 15px;
}
footer .contenedorFooter .footerPoliticas li {
  list-style: none;
}
footer .contenedorFooter .footerPoliticas li a {
  text-decoration: none;
}
footer .contenedorFooter .footerPoliticas .colorLink {
  color: black;
}
footer .contenedorFooter .footerPoliticas .colorLink:hover {
  color: blueviolet;
  font-weight: bold;
}
footer .contenedorFooter .footerPoliticas .titleFooter {
  font-size: 15px;
}
footer .contenedorFooter .footerSuscribete li {
  list-style: none;
}
footer .contenedorFooter .footerSuscribete li a {
  text-decoration: none;
}
footer .contenedorFooter .footerSuscribete .colorLink {
  color: black;
}
footer .contenedorFooter .footerSuscribete .colorLink:hover {
  color: blueviolet;
  font-weight: bold;
}
footer .contenedorFooter .footerSuscribete .titleFooter {
  font-size: 15px;
}
footer .contenedorFooter .sizeIconEmailFooter {
  width: 30px;
  margin: 3px;
}

@media screen and (max-width: 1300px) {
  .productos .spaceImgPrincipal .sizePrincImage {
    width: 200px;
    height: 130px;
  }
}
/* TAMAÑO TABLET 768PX */
@media screen and (max-width: 768px) {
  .contenedorPrincipal {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "perfil perfil" "header productos" "redes footer";
    justify-content: center;
    place-items: center;
  }
  .contenedorPrincipal .contenedorGaleria {
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 140px);
    gap: 6px 6px;
  }
  .contenedorPrincipal .perfil .ancho {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedorPrincipal .header {
    display: flex;
  }
  .contenedorPrincipal .header .menu {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal {
    padding: 0 1px;
    margin: 1px 1px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .sizePrincImage {
    width: 117px;
    height: 70px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .subtituloPrincipal {
    font-size: 10px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .prinBtnCarForm .prinBtnCar {
    font-size: 10px;
  }
  .contenedorPrincipal .contenedorCarousel {
    visibility: hidden;
    content-visibility: hidden;
  }
  .contenedorPrincipal .redes {
    display: none;
  }
}
/* TAMAÑO MOBILE 500PX O MENOS */
@media screen and (max-width: 500px) {
  .contenedorPrincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr, 0.2fr 1fr 0.3fr;
    grid-template-areas: "perfil" "header" "productos" "footer";
    justify-content: center;
    place-items: center;
  }
  .contenedorPrincipal .contenedorGaleria {
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(3, 100px);
    gap: 6px 6px;
  }
  .contenedorPrincipal .perfil .ancho {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedorPrincipal .header .menu {
    display: flex;
    flex-direction: column;
  }
  .contenedorPrincipal .contenedorCarousel {
    visibility: hidden;
    content-visibility: hidden;
  }
  .contenedorPrincipal .productos .subformatoPolDesc {
    font-size: 17px;
    text-align: left;
  }
  .contenedorPrincipal .productos .formatoPoliticas {
    font-size: 23px;
  }
  .contenedorPrincipal .productos .subformatoPoliticas {
    font-size: 21px;
  }
  .contenedorPrincipal .productos .tituloPrincipal {
    font-size: 13px;
  }
  .contenedorPrincipal .productos .galeriaTitulo {
    padding-top: 15px;
  }
  .contenedorPrincipal .productos .subtitPrincArr {
    visibility: hidden;
    content-visibility: hidden;
  }
  .contenedorPrincipal .productos .princContenedorFlores {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .contenedorPrincipal .productos .princContenedorPeluches {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal {
    padding: 0 1px;
    margin: 1px 1px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .prinBtnCarForm .prinBtnCar {
    font-size: 10px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .sizePrincImage {
    width: 150px;
    height: 90px;
  }
  .contenedorPrincipal .productos .fontContactos {
    font-weight: none;
    font-size: 15px;
  }
  .contenedorPrincipal .productos .formPerfilBtnContactos {
    font-size: 15px;
    color: rgb(84, 82, 179);
    background-color: rgb(53, 230, 230);
  }
  .contenedorPrincipal .contenedorRedes {
    visibility: hidden;
    content-visibility: hidden;
  }
  .contenedorPrincipal .footer .contenedorFooter {
    font-size: 10px;
  }
  .contenedorPrincipal .footer .contenedorFooter .titleFooter {
    font-size: 10px;
  }
  .contenedorPrincipal .footer .contenedorFooter .sizeIconEmailFooter {
    width: 15px;
    margin: 1px;
  }
  .contenedorPrincipal .otros .contRegistrar {
    font-size: 13px;
  }
  .contenedorPrincipal .otros .contRegistrar .formPerfilSelected {
    font-size: 17px;
    font-family: "gnuolane_rg-webfont";
    color: rgb(99, 46, 55);
    font-weight: bold;
  }
  .contenedorPrincipal .otros .contRegistrar .formPerfilBtn {
    font-size: 15px;
  }
  .contenedorPrincipal .otros .contRegistrar .tituloPrincipal {
    font-size: 15px;
  }
  .contenedorPrincipal .otros .contRegistrar .titPrincRegistrarse {
    font-size: 20px;
  }
  .contenedorPrincipal .otros .contRegistrar .tituloPrincipalSub {
    font-size: 15px;
  }
  .contenedorPrincipal .tituloPrincArreglos {
    font-size: 20px;
    text-align: center;
    font-family: "gnuolane_rg-webfont";
  }
  .contenedorPrincipal .subtitPrincArr2 {
    font-size: 15px;
    text-align: justify;
    font-family: "gnuolane_rg-webfont";
    color: rgb(94, 44, 52);
  }
  .contenedorPrincipal .tituloPrincPeluches {
    font-size: 20px;
    text-align: center;
  }
  .contenedorPrincipal .tituloPrincipal1 {
    font-size: 20px;
    color: palevioletred;
    text-align: center;
  }
  .contenedorPrincipal .tituloPrincipal2 {
    color: palevioletred;
    font-size: 20px;
    text-align: center;
  }
}
.formPerfil {
  font-size: 25px;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  color: palevioletred;
}

.spaceArreglos {
  margin-top: 12px;
}

.tituloPrincArreglos {
  color: palevioletred;
  font-weight: bold;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  /*     font-size: 28px; */
  padding: 1% 1%;
}

.subtitPrincArr {
  color: black;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  font-size: 19px;
  padding-left: 1%;
  padding-bottom: 1%;
}

.subtitPrincArr2 {
  color: black;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  font-size: 19px;
  padding-left: 1%;
  padding-bottom: 2%;
}

.spaceImgPrinArre {
  padding: 0 10px;
  margin: 5px 5px;
}

.otros {
  grid-area: otros;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.otros .contRegistrar {
  width: 50%;
  font-size: 17px;
}
.otros .contRegistrar .contRegistrarForm {
  align-items: center;
  justify-content: center;
}
.otros .contRegistrar .formPerfilSelected {
  font-size: 17px;
  font-family: "gnuolane_rg-webfont";
  color: rgb(99, 46, 55);
  font-weight: bold;
}
.otros .contRegistrar .formPerfilBtn {
  font-size: 22px;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  color: rgb(84, 82, 179);
  background-color: rgb(53, 230, 230);
}
.otros .contRegistrar .centrarBotonRegistrar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.otros .contRegistrar .titPrincRegistrarse {
  color: palevioletred;
  font-weight: bold;
  font-family: "gnuolane_rg-webfont";
  font-size: 27px;
}
.otros .contRegistrar .tituloPrincipalSub {
  font-size: 17px;
  font-weight: bold;
  color: darkblue;
}
.otros .contRegistrar .fontInput {
  margin-bottom: 25px;
}

.fontContactos {
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  color: rgb(99, 46, 55);
  font-weight: bold;
}
.fontContactos .formPerfilBtnContactos {
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  color: rgb(84, 82, 179);
  background-color: rgb(53, 230, 230);
}

.tituloPrincPeluches {
  color: palevioletred;
  font-weight: bold;
  font-family: "gnuolane_rg-webfont";
  font-size: 22px;
  padding: 1% 1%;
}

.formatoPoliticas {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  padding: 2%;
  padding-bottom: 3%;
  color: palevioletred;
  font-family: "gnuolane_rg-webfont";
}

.subformatoPoliticas {
  text-decoration: underline;
  font-size: 25px;
  font-family: "gnuolane_rg-webfont";
  color: palevioletred;
}

.subformatoPolDesc {
  font-size: 23px;
  font-family: "gnuolane_rg-webfont";
  color: black;
}

.contenedorPolitcas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 25px;
}

.contenedorImgPol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenPoliticas {
  width: 15%;
  height: 15%;
  padding-left: 10px;
}

/*# sourceMappingURL=styles.css.map */
