.formPerfil {
    font-size: 25px;
    @include fuente;
    color: palevioletred;
}

.spaceArreglos {
    margin-top: 12px;
}

.tituloPrincArreglos {
    color: palevioletred;
    font-weight: bold;
    @include fuente;
    /*     font-size: 28px; */
    padding: 1% 1%;
}

.subtitPrincArr {
    color: black;
    @include fuente;
    font-size: 19px;
    padding-left: 1%;
    padding-bottom: 1%;
}

.subtitPrincArr2 {
    color: black;
    @include fuente;
    font-size: 19px;
    padding-left: 1%;
    padding-bottom: 2%;
}

.spaceImgPrinArre {
    padding: 0 10px;
    margin: 5px 5px;
}