.fontContactos {
    @include fuente;
    color: rgb(99, 46, 55);
    font-weight: bold;

    .formPerfilBtnContactos {
        @include fuente;
        color: rgb(84, 82, 179);
        background-color: rgb(53, 230, 230);
    }
}