.otros {
    grid-area: otros;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .contRegistrar {

        width: 50%;

        font-size: 17px;

        .contRegistrarForm {
            align-items: center;
            justify-content: center;
        }

        .formPerfilSelected {
            font-size: 17px;
            font-family: 'gnuolane_rg-webfont';
            color: rgb(99, 46, 55);
            font-weight: bold;

        }

        .formPerfilBtn {

            font-size: 22px;
            @include fuente;
            color: rgb(84, 82, 179);
            background-color: rgb(53, 230, 230);
        }

        .centrarBotonRegistrar {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }

        .titPrincRegistrarse {

            color: palevioletred;
            font-weight: bold;
            font-family: 'gnuolane_rg-webfont';
            font-size: 27px;
        }

        .tituloPrincipalSub {

            font-size: 17px;
            font-weight: bold;
            color: darkblue;
        }

        .fontInput {
            margin-bottom: 25px;
        }
    }
}