 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
 }

 body {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .menu {
     background-color: rgb(214, 98, 170);
     font-size: 22px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 .contenedorPrincipal {
     display: grid;
     grid-template-columns: repeat(4, 0.2fr);
     grid-template-rows: repeat(6, 0.05fr);
     grid-template-areas:
         "titulo titulo perfil perfil "
         /*titulo : logo posible buscar Perfil:  session, logocarrito. */
         "header header header header"
         /*header : agregar mas cosas Flores,Box/desayunos, postres*/
         "principalCarrousel principalCarrousel principalCarrousel principalCarrousel"
         /*carrusel pequeñoprincipal: mas reducido: Flores,Box/desayunos, Regalos, postres*/
         "principalProductos principalProductos principalProductos principalProductos"
         /*Flores,Box/desayuno, Regalos , Postres */
         /*   "motivo motivo motivo motivo" */
         /*motivo: Amor, Aniversario,Cumpleaños,Aliviate pronto/condolencias, Graduacion,dia del hombre, de la mujer,dia de la mascota*/
         "redes redes redes redes"
         "pie pie pie pie"
     ;

     justify-content: center;
     background-color: white;

 }

 .logoHeader {
     display: flex;
 }

 .imagenTitutlo {
     grid-area: titulo;
     justify-content: left;
     align-items: left;
     background-color: white;
 }

 .perfil {
     grid-area: perfil;
     background-color: white;
     display: flex;
     justify-content: right;
     align-items: right;
     padding: 25px 660px;
 }

 .headerProductos {
     grid-area: header;
 }

 .headerProductosSize {
     font-size: 25px;
 }

 .menu li {
     display: inline-block;
     padding-left: 80px;
     font-size: 10px;
 }


 a {
     text-decoration: none;
     color: gold;
 }

 a:hover {
     color: white;

 }

 .imagenTitutlo {
     display: flex;
     justify-content: center;
     padding: 5px 100px;
     text-align: left;

 }

 .sizeLogo {
     width: 170px;
     height: 100px;
     align-items: left;

 }

 .iconoInicioSesion {
     width: 28px;
     height: 28px;
 }

 .carrito {
     width: 28px;
     height: 28px;
 }

 .contenedorCarrousel {
     grid-area: principalCarrousel;
     padding-top: 0%;
     margin-top: 0%;
 }


 .sizeCarousel {
     display: flex;
     width: 70%;
     height: 400px;
 }

 .tituloCarousel {
     text-align: center;
     color: brown;

 }

 /* focus para el texto */
 input:focus {
     height: 30px;
     background-color: lightpink;
 }

 input[type="checkbox"]:checked {
     box-shadow: 0 0 0 3px pink;

 }



 .principalProductos {
     grid-area: principalProductos;
 }

 .princContenedor {
     display: flex;
     padding: 10px 40px;
 }

 .tituloPrincipal {
     color: palevioletred;
     font-weight: bold;
     size: 20px;
     padding: 15px 35px;
     margin: 5px 35px;
 }

 .subtituloPrincipal {
     padding: 0 10px;
     color: yellowgreen;
     padding: 0 30px;
     font-weight: bold;
     font-size: 20px;

 }


 .spaceImgPrincipal {
     padding: 0 40px;
     margin: 5px 5px;
 }

 .spaceImgPrinArre {
     padding: 0 10px;
     margin: 5px 5px;
 }

 .prinBtnCarForm {
     border-radius: 0 0 10px 10px;
     background-color: azure;
     padding: 0 20px;
 }

 .prinBtnCar {
     font-size: 12px;
     /*    height: 35px; */
     /* background-position: 97.5% 50% !important; */
     cursor: pointer;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     text-transform: uppercase;
     color: yellowgreen;
     margin: 0 18px;

 }

 .sizePrincImage {
     width: 270px;
     height: 250px;
 }

 .motivo {
     grid-area: motivo;
 }

 .redes {
     grid-area: redes;
     margin-top: 15px;
     margin-bottom: 15px;
 }



 #arriba {

     padding: 0px 350px 0px 0px;
     font-size: 15px;
 }

 .redesContenedor {
     display: flex;
     justify-content: center;
     align-items: center;


 }

 .redesComentario {
     font-size: 20px;
 }


 .redesSizeIcon {
     width: 40px;
     width: 40px;
     margin: 5px;

 }

 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     filter: invert(108%);
 }

 footer {
     grid-area: pie;
     background-color: lightcyan;
     background-image: url(../img/fondoFooter.jfif);
     display: flex;
 }

 .contenedorFooter {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 12px;
     color: brown;

 }

 .footerSuscribete {
     padding: 0 50px;
     margin: 0 75px;

 }

 .footerGeneral {
     padding: 0 50px;
     margin: 0 75px;

 }

 .footerPoliticas {
     padding: 0 50px;
     margin: 0 75px;

 }

 .navFooter {
     display: flex;
     list-style: none;


 }

 footer ul li {
     list-style: none;
     color: black;
 }

 .colorLink {
     color: black;

 }

 .colorLink:hover {
     color: blueviolet;
     font-weight: bold;
 }

 .sizeIconEmailFooter {
     width: 30px;
     margin: 3px;
 }

 .seccionPerfil {
     display: flex;
     align-items: center;
     justify-content: center;
     padding-left: 530px;
     width: 70%;
 }

 .formPerfil {
     font-size: 25px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgb(179, 82, 170);
 }

 .fontInput {
     color: rgb(212, 163, 163);
 }

 .formPerfilSelected {
     font-size: 15px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: pink;
     font-weight: bold;
 }

 .formPerfilBtn {
     font-size: 18px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: rgb(179, 82, 170);
     background-color: rgb(53, 230, 230);
 }


 /* TAMAÑO TABLET 768PX */
 @media screen and (max-width:768px) {

     .contenedorPrincipal {

         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         grid-template-areas:
             "header principal"
             "footer footer"
         ;
     }

     .headerProductos {
         grid-area: header;
         width: 50%;
     }

     .principalProductos {
         grid-area: principal;
         width: 50%;
     }

     .footer {

         grid-area: footer;
         width: 50%;
     }

     .sizePrincImage {
         width: 150px;
         height: 75px;
     }

     .spaceImgPrincipal {
         padding: 0 10px;
         margin: 2px 2px;
     }

     .subtituloPrincipal {
         padding: 0 5px;
         font-size: 15px;

     }

     .prinBtnCarForm {
         border-radius: 0 0 5px 5px;
         padding: 0 0.5px;
     }

     .headerProductosSize {
         font-size: 15px;
     }

     .menu li {
         font-size: 15px;
     }

     .contenedorCarrousel {
         visibility: hidden;
         content-visibility: hidden;
     }

 }

 /* TAMAÑO TABLET 500PX O MENOS */
 @media screen and (max-width:500px) {

     .contenedorPrincipal {

         grid-template-columns: 1fr;
         grid-template-rows: 0.2fr 1fr 0.3fr;
         grid-template-areas:
             "header"
             "principal"
             "footer"
         ;
     }

     .headerProductos {
         grid-area: header;
     }

     .principalProductos {
         grid-area: principal;
     }

     .footer {

         grid-area: footer;
     }

     .sizePrincImage {
         width: 130px;
         height: 75px;
     }

     .spaceImgPrincipal {
         padding: 0 1px;
         margin: 1px 1px;
     }

     .subtituloPrincipal {
         padding: 0 3px;
         font-size: 10px;

     }

     .prinBtnCarForm {
         border-radius: 0 0 5px 5px;
         padding: 0 0.5px;
     }

     .headerProductosSize {
         font-size: 10px;
     }

     .menu li {
         font-size: 10px;
     }

     .contenedorCarrousel {
         visibility: hidden;
         content-visibility: hidden;
     }

 }