
/* TAMAÑO TABLET 768PX */
@media screen and (max-width:768px) {

    .contenedorPrincipal {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "header principal"
            "footer footer"
        ;
    }

    .principalProductos {
        grid-area: principal;
        width: 50%;
    }
    .sizePrincImage {
        width: 150px;
        height: 75px;
    }

    .contenedorCarrousel {
        visibility: hidden;
        content-visibility: hidden;
    }

}

/* TAMAÑO TABLET 500PX O MENOS */
@media screen and (max-width:500px) {

    .contenedorPrincipal {

        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.3fr;
        grid-template-areas:
            "header"
            "principal"
            "footer"
        ;
    }

    .productos {
        grid-area: principal;
    }

    /*     .footer {

        grid-area: footer;
    } */

    .sizePrincImage {
        width: 130px;
        height: 75px;
    }

    .spaceImgPrincipal {
        padding: 0 1px;
        margin: 1px 1px;
    }


    .prinBtnCarForm {
        border-radius: 0 0 5px 5px;
        padding: 0 0.5px;
    }


}